.jumbotron {
    text-align: center;
    background-color: rgba(3, 48, 100, 0.411);
    min-height: 75px;
}
.container-fluid {
     padding: 2%;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    
}

th {
    background-color: gray;
    color: white;

}

#pie {
    width: 100%;
    height: 100%;
}

#gauge {
    width: 100%;
    height: 100%;
}

#bubble {
    text-align: center;
    width: 100%;
    height: 100%;
}